@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0.767); /* Using a light blue shade */
  display: flex;
justify-content: center;
margin-top: 20px;
height: 100vh;
width: 100vw;
}

